.oboard-box {
	position: relative;
	background: #fff;
	border: 2px solid #fff;
}
.oboard-box:after, .oboard_box:before {
	right: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.oboard-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.oboard-box:before {
	border-color: rgba(196, 245, 199, 0);
	border-bottom-color: #fff;
	border-width: 13px;
	margin-left: -13px;
}
.oboard-box .oboard-close-button {
	background: url("/img/closebutton.png");
	width: auto;
	height: auto;
}
.oboard-box .oboard-next-button {
	width: 200px;
	height: 100px;
	background-color: #8b8;
	border: solid transparent;
	border-radius: 7px;
}