body {
	text-align: center;
}
body .popup {
	text-align: left;
	width: 280px;
}
body .popup .form {
	overflow: hidden;
	background: #fff;
	border: solid 1px #ddd;
	box-shadow: 2px 0 4px rgba(0,0,0,0,0.05);
	border-radius: 4px;
}
body .popup .form .header {
	color: #888;
	padding: 10px 0;
	text-align: center;
	border-bottom: solid 1px #ddd;
	box-shadow: inset 0 1px 0 #fff;
}
body .popup .form .info {
	padding: 15px;
	background: #fafafa;
}
body .popup .form .info .input {
	width: 100%;
    font-size: 13px;
    color: #333;
    background: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    border: solid 1px #dedede;
    box-shadow: inset 0 1px 3px #efefef
}
body .popup .form .info .error-message {
	color:#f44;
}
body .popup .form .submit {
	padding: 10px 15px;
	background: #efefef;
	border-top: solid 1px #eee
}
body .popup .form .button {
	width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ddd;
}	