.oboard-menubutton, .oboard-close-tutorial-button{
	width: 40px;
	height: 40px;
	color: #fff;
	right:0;
	bottom:0;
	margin-right: 20px;
	position: fixed;
	border-radius: 10px 10px 0 0;
	-webkit-transition: bottom .5s;
	transition: bottom .5s;
	cursor: pointer;
	text-align: center;
}

.oboard-menubutton{
	background-color: #10B055;
	font-size: 35px;
}
.oboard-close-tutorial-button{
	background-color: #C70202;
	font-size: 30px;
}
.oboard-darken-overlay{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: #000;
	z-index: 2779;
}
.oboard-popup{
	min-width: 100px;
	min-height: 70px;
	height:auto;
	max-height: 500px;
	max-width: 500px;
	overflow: auto;
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px #aaa;
	border-radius: 3px;
	background: #fff;
	border: solid 1px #aaa;
	z-index: 2780;
}
.oboard-popup .oboard-popup-body {
	padding: 3px 10px 0px 10px;
	margin-bottom: 10px;
	font-size: 12px;
}
.oboard-header{
	font-family: "Verdana", Verdana, sans-serif;
	font-size: 13px;
	border-bottom: solid 1px #aaa;
	color: #555;
	background: #fff;
	padding: 3px;
	margin: 5px;
}
.oboard-button-container{
	width: 100%;
	height: 25px;
	background-color: #fff;
	border-top: 1px solid #bbb;
	margin-top: 3px;
	background: #eee;
}
.oboard-button-container .oboard-next-button, .oboard-button-container .oboard-cancel-button{
	width: 36px;
	height: 10px;
	text-align: center;
	position: absolute;
	font-size: 12px;
	color:#eee;
	cursor:pointer;
	margin: 5px;
	padding:3px;
	padding-bottom: 5px;
}
.oboard-button-container .oboard-next-button{
	right:0;
	bottom: 0;
	border-radius: 3px;
	background: #10B055;
}
.oboard-button-container .oboard-cancel-button{
	right: 50px;
	bottom: 0;
	color: #333;
}
.oboard-menu {
	width: 250px;
	height: 250px;
	overflow: visible;
	position: fixed;
	right:0;
	bottom:0;
	margin-right: 20px;
	font-family: "Verdana", Verdana, sans-serif;
	-webkit-transition: bottom .5s;
	transition: bottom .5s;
	background: #fff;
	border-radius: 3 3 0 0;
	border: solid 1px #aaa;
}
.oboard-menu .oboard-menu-header{
	height: 15px;
	background: #eee;
	text-align: center;
	border-bottom: solid 1px #aaa;
	padding: 5px 0 10px 0;
	color: #666;
}
.oboard-menu .oboard-menu-hidebutton{
	width: 100%;
	height: 15px;
	background: #eee;
	position: absolute;
	text-align: center;
	border-top: solid 1px #aaa;
	color: #aaa;
	bottom:0;
	cursor:pointer;
}
.oboard-menu .oboard-menu-item{
	width: 100%;
	height: 30px;
	border-bottom: solid 1px #bbb;
	cursor: pointer;
}
.oboard-menu .oboard-menu-item .oboard-menu-item-header{
	background: #5ACC5A;
	font-size: 20px;
	color: #fff;
	font-family: "Verdana", Verdana, sans-serif;
	width: 30px;
	height: 28px;
	padding-top: 2px;
	text-align: center;
	float: left;
}
.oboard-menu .oboard-menu-item .oboard-menu-item-body{
	height: 100%;
	height: 25px;
	padding: 5px 10px 0px 10px;
	text-align: left;
	float: left;
	font-size: 15px;
}
.oboard-menubutton-hidden{
	bottom: -40px;
}
.oboard-menu-hidden{
	bottom: -300px;
}
.oboard-box {
	position: absolute;
	height:auto;
	width:auto;
	min-width: 25px;
	min-height: 50px;
	max-width: 200px;
	background: #ffffff;
	border-radius: 4px;
	z-index: 2470;
	box-shadow: 0 0 10px #aaa;
}
.oboard-box .oboard-box-body {
	padding: 0 10px 10px 10px;
	font-size:12px;
}
.oboard-box:after,.oboard-box:before {
	right: 100%;
	top: 50%;
	border: solid 1px #dedede;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 2778;
}
.oboard-box:before {
	border-color: rgba(219, 219, 219, 0);
	border-right-color: #dedede;
	border-width: 8px;
	margin-top: -8px;
}
.oboard-box:after {
	border-color: rgba(219, 219, 219, 0);
	border-right-color: #ffffff;
	border-width: 7px;
	margin-top: -7px;
}
.oboard-box .oboard-close-button {
	background: url("/img/closebutton.png");
	width: auto;
	height: auto;
}
.oboard-box .oboard-box-next-button {
	width: 200px;
	height: 100px;
	background-color: #8b8;
	border: solid transparent;
	border-radius: 7px;
}